<div class="header">
    <div class="row">
    <div class="col-md-4">
    <a   class="circle" routerLink="/personaldetails" routerLinkActive="active" >1</a>  
    <a class="headervalue" routerLink="/personaldetails" class="headervalue">Personal Details</a>  
</div>
<div class="col-md-4">
    <a  class="circle" routerLink="/companydetails" routerLinkActive="active">2</a>
    <a class="headervalue" routerLink="/companydetails" >Company Details</a>  
    </div>
    <div class="col-md-4">
    <a    class="circle" routerLink="/emailverification" routerLinkActive="active" >3</a>
    <a class="headervalue" routerLink="/emailverification">Email Verification</a>  
    </div>
</div>
</div>