.otpinfo
{
    margin-top:5%;
     background-color: whitesmoke;
     width: 600px;
     margin-left: 20%;
     padding:10px;
  }

  .code
  {
    position: absolute;
    margin-left: -10px;
  }
  .otpheader
{
    margin-left: 25%;
    margin-top:5%;
}
.otpdetail
{
    margin-left: 25%;
}
.form-control
{
    width: 50px;
}

.btn-primary
{
    color: white !important;
    background-color: orangered !important;
    border: orangered;
    width: 175px;
}