<app-navbar></app-navbar>
<div class="container ">
    <div class="row">
        <h3 class="companyheader">Add your Company Details</h3>
    </div>
    <div class="companyinfo">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        
                        <div class="d-flex ">
                            <img *ngIf = "url" [src]="url" class="uploaded_image" >
                            <img *ngIf ="!url" src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" class="upload_image">
                            <label for="upload-photo" class="btn upload_image-btn">
                                <p class="upload">Upload your company logo</p>
                            </label>
                        </div>
                            <input type="file" name="photo" formControlName="url" id="upload-photo" accept="image/x-png,image/gif,image/jpeg"  (change)="showPreview($event)"   />
                            <div *ngIf="submitted && f.url.errors" class="invalid">
                                <div *ngIf="f.url.errors.required">Image is required</div>
                            </div>
                    </div>



                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" formControlName="companyname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
                        <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                            <div *ngIf="f.companyname.errors.required">Company Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" formControlName="jobtitle" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.jobtitle.errors }" />
                        <div *ngIf="submitted && f.jobtitle.errors" class="invalid-feedback">
                            <div *ngIf="f.jobtitle.errors.required">Job title is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Year of Experience</label>
                        <input type="Number" min="0" formControlName="experience" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                        <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                            <div *ngIf="f.experience.errors.required">Experience  is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="check "><span class="accept">I accept </span><a class="terms">Terms and
                                Conditions</a>
                            <input type="checkbox" (change)="isTermsRead=!isTermsRead" >
                            <span class="checkmark"></span>
                        </label>
                       
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3"> <button type="button" class="btn btn-light back"
                                    routerLink="" >Back</button> </div>
                            <div class="col-sm-8"><button class="btn btn-primary OTP" >Send OTP</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>