.personalheader
{
    margin-left: 25%;
    margin-top:2%;
}
.personalInfo
{
  margin-top:2%;
    background-color: whitesmoke;
   width: 600px;
   margin-left: 20%;
   padding:10px;
}
.dropdown
{
    width: 270px;
}
.login
{
    padding-left: 220px;
}
.logincheck
{
    color:blue;
    cursor: pointer;
}
.next
{
    width:278px;
}
.active {
    background-color: blue !important;
    color:white !important
  }